form {
  width: 500px;
  /* To see the outline of the form */
  padding: 1em;

}

label{
  display: inline-block;
  width: 90px;
  text-align: left;
}
input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}
